<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<img th:src="@{'data:image/jpeg;base64,' + ${imgContent}}"
     style="width: 320px;"
     src="https://i.picsum.photos/id/626/1200/1200.jpg?hmac=n8RS6AHHIz5F3GHXgR5kMUifSKE0QoLhbogpa_cSohU"/>
<div>
    <input type="text" maxlength="140"/>
    <input type="submit" value="Create TODO">
    <br>
    <ul>
        <li>TODO 1</li>
        <li>TODO 2</li>
        <li>TODO 3</li>
    </ul>
</div>
</body>
</html>